* {
    box-sizing: border-box;
  }

html{
    overflow-x: hidden;
}


body {
    width: 100%;
    overflow-x: hidden;
}



.tituloPrincipal {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #191970;
}
.tituloSecundario {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #191970;
}

.tituloSecundarioTablas {
    font-family: "Sansita", sans-serif;
    font-size: larger;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #191970;
}

.divImagenComputador {
    display: grid;
    justify-content: center;
    align-items: center;
}

.imagenComputador {
    width: 400px;
}

.tituloSecundarioBlanco {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

.textoBlanco {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

.textoAzul {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #191970;
}

.presentacion {
    background-color: #6E07F3;
    padding: 0 0 100px 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

.contenedor-texto-morado {
    margin: 1% 20% 5% 20%;
    display: grid;
    /* justify-content: center;
    align-items: center; */
}

.hobbies {
    position: relative;
    bottom: 120px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #D3D3D3;
    margin: 1% 20% 5% 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;


}

.columna {
    margin: 10;
    padding: 20px;
    /* border-style: solid; */
    border-radius: 10px;
    /* border-color: #D3D3D3; */
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imagenFamilia {
    width: 200px;
    height: 266px;
    object-fit: cover;
}

.comidaFavorita{
    position: relative;
    bottom: 120px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #D3D3D3;
    margin: 1px 20% 1px 20%;
    display: grid;
    grid-template-areas:
        'titulo titulo titulo'
        'columna1 columna1 columna1'
        'columna2 columna2 columna2';
    grid-template-rows: 20% auto; 
    grid-template-columns: 66%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.c1 {
    grid-area: titulo;
}

.c2 {
    padding-left: 10px;
    padding-right: 10px;
    grid-area: columna1;
}

.c3 {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    grid-area: columna2;
    justify-content: center;
    align-items: center;
}

.c3 .mapa {
    margin: auto;
}

.mapa {
    max-height: 250;
}

.deportesFavoritos {
    position: relative;
    bottom: 220px;
    background-color: #6E07F3;
    margin: 0;
    padding: 150px 0 100px 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

.deportes {
    background-color: #6E07F3;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #6E07F3;
    margin: 0;
    display: grid;
    grid-template-columns: 70% auto;
    justify-content: center;
    align-items: center;


}

.trabajos {
    position: relative;
    bottom: 120px;
    background-color: #FFFFFF;
    margin: 0 20% 0 20%;
    justify-content: center;
    align-items: center;
}

.logosEmpresas {
    width: 200px;
    height: 200px;
    object-fit: contain;

}

.empresas {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #D3D3D3;
    margin: 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: center;


}

table{
    border-collapse: collapse;
}

table thead{
    background-color: #5BE9B9;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

@media screen and (max-width: 767px) {

    .hobbies {
        grid-template-columns: 1fr;
    }

    .comidaFavorita{
            grid-template-areas:
            'titulo titulo titulo'
            'columna1 columna1 columna1'
            'columna2 columna2 columna2';
    }

    .deportes {
        grid-template-columns: 1fr;
    }

    .empresas{
        grid-template-columns: 1fr;
    }

    .logosEmpresas {
        width: 150px;
        height: 150px;
    }

    .mapa {
        max-height: 150px;
        max-width: 150px;
    }
    
}

@media screen and (min-width:768px) and (max-width: 1023px) {

    .comidaFavorita{
            grid-template-areas:
            'titulo titulo titulo'
            'columna1 columna1 columna1'
            'columna2 columna2 columna2';
    }

    .deportes {
        grid-template-columns: 1fr;
    }

    .empresas{
        grid-template-columns: 1fr;
    }

    .logosEmpresas {
        width: 200px;
        height: 200px;
    }

    
}